## Working with our data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import random
import statistics
from mpl_toolkits import mplot3d
D=pd.read_csv("mmc4.csv")

In [2]:
D.head()

,date_time,Time,hr,steps,Galvanic skin response,calories,temp,sec,Unnamed: 8
0,15-08-2016 00:00,00:00:00,122.0,0,0.000052,7.5,77.9,0,0.0
1,15-08-2016 00:01,00:01:00,135.0,0,0.000051,8.2,77.9,1,NaN
2,15-08-2016 00:02,00:02:00,111.0,0,0.000052,6.2,77.9,2,NaN
3,15-08-2016 00:03,00:03:00,109.0,0,0.000053,5.6,77.0,3,NaN
4,15-08-2016 00:04,00:04:00,126.0,0,0.000053,9.0,77.0,4,NaN

In [4]:
D=D.drop('steps',axis=1)

In [5]:
D=D.drop('Unnamed: 8',axis=1)

In [6]:
D

,date_time,Time,hr,Galvanic skin response,calories,temp,sec
0,15-08-2016 00:00,00:00:00,122.0,0.000052,7.5,77.9,0
1,15-08-2016 00:01,00:01:00,135.0,0.000051,8.2,77.9,1
2,15-08-2016 00:02,00:02:00,111.0,0.000052,6.2,77.9,2
3,15-08-2016 00:03,00:03:00,109.0,0.000053,5.6,77.0,3
4,15-08-2016 00:04,00:04:00,126.0,0.000053,9.0,77.0,4
...,...,...,...,...,...,...,...
73435,04-10-2016 23:55,23:55:00,85.0,0.000056,1.9,86.9,73435
73436,04-10-2016 23:56,23:56:00,83.0,0.000056,1.8,86.9,73436
73437,04-10-2016 23:57,23:57:00,85.0,0.000057,1.9,86.9,73437
73438,04-10-2016 23:58,23:58:00,93.0,0.000056,3.1,86.9,73438
73439,04-10-2016 23:59,23:59:00,104.0,0.000057,5.2,86.9,73439

In [7]:
D.describe()

,hr,Galvanic skin response,calories,temp,sec
count,69941.000000,69921.000000,73440.000000,69921.000000,73440.000000
mean,90.089618,0.088322,2.340063,87.412743,36719.500000
std,14.495608,0.945392,1.398170,2.632010,21200.446222
min,39.000000,0.000048,1.200000,69.800000,0.000000
25%,81.000000,0.000057,1.500000,86.000000,18359.750000
50%,91.000000,0.000062,2.000000,87.800000,36719.500000
75%,99.000000,0.000106,2.600000,88.700000,55079.250000
max,187.000000,28.520100,19.100000,98.600000,73439.000000

In [11]:
for z in ['hr','Galvanic skin response','calories','temp'] :
    mean_value=D[z].mean()
    D[z].fillna(value=mean_value, inplace=True)
print(D)
l=['File1.csv','File2.csv','File3.csv','File4.csv','File5.csv']

              date_time      Time     hr  Galvanic skin response  calories  \
0      15-08-2016 00:00  00:00:00  122.0                0.000052       7.5
1      15-08-2016 00:01  00:01:00  135.0                0.000051       8.2
2      15-08-2016 00:02  00:02:00  111.0                0.000052       6.2
3      15-08-2016 00:03  00:03:00  109.0                0.000053       5.6
4      15-08-2016 00:04  00:04:00  126.0                0.000053       9.0
...                 ...       ...    ...                     ...       ...
73435  04-10-2016 23:55  23:55:00   85.0                0.000056       1.9
73436  04-10-2016 23:56  23:56:00   83.0                0.000056       1.8
73437  04-10-2016 23:57  23:57:00   85.0                0.000057       1.9
73438  04-10-2016 23:58  23:58:00   93.0                0.000056       3.1
73439  04-10-2016 23:59  23:59:00  104.0                0.000057       5.2

       temp    sec
0      77.9      0
1      77.9      1
2      77.9      2
3      77.0      3
4      77.0      4
...     ...    ...
73435  86.9  73435
73436  86.9  73436
73437  86.9  73437
73438  86.9  73438
73439  86.9  73439

[73440 rows x 7 columns]

In [12]:
D=D.drop('sec',axis=1)

In [15]:
D=D.drop('Time',axis=1)

In [18]:
for i in range(5):
    dnew=pd.DataFrame()
    c=random.randrange(2,5)
    dnew['date_time']=D['date_time']
    for j in ['hr','Galvanic skin response','calories','temp']:
        mean_value=D[j].mean()
        arr=np.random.uniform((mean_value-c),(mean_value+c),73440)
        dnew[j]=arr
    dnew.to_csv(l[i])

In [20]:
%matplotlib inline
import numpy as np
for i in l:
    df=pd.read_csv(i)
    for j in ['hr','Galvanic skin response','calories','temp']:
        df[j][df[j]<0]=0+abs(df[j].mean())
        df.round(3)
    print(df)

<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())

       Unnamed: 0         date_time         hr  Galvanic skin response  \
0               0  15-08-2016 00:00  88.220961                3.619434
1               1  15-08-2016 00:01  87.960865                0.084507
2               2  15-08-2016 00:02  93.093818                0.084507
3               3  15-08-2016 00:03  90.396274                0.126732
4               4  15-08-2016 00:04  92.871857                0.084507
...           ...               ...        ...                     ...
73435       73435  04-10-2016 23:55  92.631531                0.084507
73436       73436  04-10-2016 23:56  88.682603                1.615401
73437       73437  04-10-2016 23:57  91.237354                2.378369
73438       73438  04-10-2016 23:58  90.921312                2.994282
73439       73439  04-10-2016 23:59  90.640017                0.084507

       calories       temp
0      4.784028  85.661693
1      2.814104  83.718335
2      2.109008  86.290206
3      5.875422  91.254956
4      2.348729  86.864042
...         ...        ...
73435  3.655447  89.342089
73436  3.716139  84.314039
73437  4.076957  86.337081
73438  1.707044  85.074332
73439  2.348729  90.625456

[73440 rows x 6 columns]
       Unnamed: 0         date_time         hr  Galvanic skin response  \
0               0  15-08-2016 00:00  91.791405                0.940535
1               1  15-08-2016 00:01  89.942198                0.090253
2               2  15-08-2016 00:02  91.945292                0.210310
3               3  15-08-2016 00:03  89.806140                0.090253
4               4  15-08-2016 00:04  87.774944                0.090253
...           ...               ...        ...                     ...
73435       73435  04-10-2016 23:55  91.210176                0.090253
73436       73436  04-10-2016 23:56  89.763527                0.090253
73437       73437  04-10-2016 23:57  91.412314                0.090253
73438       73438  04-10-2016 23:58  90.570646                0.026223
73439       73439  04-10-2016 23:59  87.537444                0.090253

       calories       temp
0      0.516830  88.997076
1      3.145503  88.303669
2      1.204219  86.229019
3      3.106414  89.235210
4      4.305471  89.899752
...         ...        ...
73435  0.038299  86.030170
73436  2.764328  87.068396
73437  5.248130  87.966363
73438  0.145399  86.324939
73439  2.031892  88.485492

[73440 rows x 6 columns]

<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())

       Unnamed: 0         date_time         hr  Galvanic skin response  \
0               0  15-08-2016 00:00  89.831259                2.315011
1               1  15-08-2016 00:01  87.493733                0.097755
2               2  15-08-2016 00:02  89.229632                0.097755
3               3  15-08-2016 00:03  86.884119                4.048440
4               4  15-08-2016 00:04  90.688132                1.713533
...           ...               ...        ...                     ...
73435       73435  04-10-2016 23:55  87.992173                0.097755
73436       73436  04-10-2016 23:56  87.609421                2.278621
73437       73437  04-10-2016 23:57  87.741846                0.097755
73438       73438  04-10-2016 23:58  86.339353                1.316969
73439       73439  04-10-2016 23:59  92.864980                1.738932

       calories       temp
0      2.329300  86.714635
1      4.538398  90.912509
2      3.709942  85.324433
3      2.642643  90.480216
4      0.001449  88.903728
...         ...        ...
73435  3.588439  85.664562
73436  1.673048  91.307466
73437  0.294829  85.041098
73438  2.336106  90.836896
73439  2.336106  88.961585

[73440 rows x 6 columns]
       Unnamed: 0         date_time         hr  Galvanic skin response  \
0               0  15-08-2016 00:00  90.319398                3.080406
1               1  15-08-2016 00:01  86.942450                1.845168
2               2  15-08-2016 00:02  86.656158                0.930195
3               3  15-08-2016 00:03  92.423978                0.091562
4               4  15-08-2016 00:04  91.537504                0.091562
...           ...               ...        ...                     ...
73435       73435  04-10-2016 23:55  90.144759                2.855655
73436       73436  04-10-2016 23:56  92.690214                0.091562
73437       73437  04-10-2016 23:57  88.660813                1.280201
73438       73438  04-10-2016 23:58  93.984208                0.091562
73439       73439  04-10-2016 23:59  93.789738                3.245170

       calories       temp
0      5.133797  87.626798
1      2.327409  87.869014
2      6.148137  89.456496
3      3.440478  90.977405
4      1.049384  85.485572
...         ...        ...
73435  3.760849  87.913550
73436  3.367150  87.519387
73437  2.249212  85.267043
73438  0.368050  86.563959
73439  2.738598  87.115227

[73440 rows x 6 columns]
       Unnamed: 0         date_time         hr  Galvanic skin response  \
0               0  15-08-2016 00:00  88.620928                2.048652
1               1  15-08-2016 00:01  88.369034                0.083623
2               2  15-08-2016 00:02  88.692405                0.594755
3               3  15-08-2016 00:03  89.755119                0.699201
4               4  15-08-2016 00:04  91.773583                1.632682
...           ...               ...        ...                     ...
73435       73435  04-10-2016 23:55  88.625696                0.083623
73436       73436  04-10-2016 23:56  89.365794                0.083623
73437       73437  04-10-2016 23:57  91.318490                1.499746
73438       73438  04-10-2016 23:58  88.885412                0.083623
73439       73439  04-10-2016 23:59  92.048344                1.914620

       calories       temp
0      2.619700  89.198630
1      1.863098  86.785804
2      2.239709  86.668333
3      0.979475  86.740802
4      4.125067  87.584780
...         ...        ...
73435  3.054224  89.301707
73436  3.445779  88.664501
73437  2.926542  87.586527
73438  0.349468  88.102290
73439  2.422842  86.315619

[73440 rows x 6 columns]

<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())
<ipython-input-20-362152a255e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[j][df[j]<0]=0+abs(df[j].mean())